<h1>Usuarios</h1>

<input type="search" [(ngModel)]="busqueda">

<table>
  <tr>
    <th>Nombre</th>
    <th>Genero</th>
    <th>Correo</th>
    <th>Edad</th>
    <th>Nacimiento</th>
    <th>Ingresos</th>
  </tr>
  <tr *ngFor="let usuario of usuarios | filtro: busqueda">
    <td>{{ usuario | nombre }}</td>
    <td>{{ usuario | genero }}</td>
    <td>{{ usuario.email }}</td>
    <td>{{ usuario.dob.age }}</td>
    <td>{{ usuario.dob.date | date: 'dd/MM/yyyy' }}</td>
    <td>{{ 1000 | currency: 'ARS' | lowercase }}</td>
  </tr>
</table>